<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <style>
      h1 {
        font-weight: bold;
        text-align: center;
      }
      hr {
        border: 5px solid black;
        margin-bottom: 5rem;
      }
      section {
        width: 50%;
        margin: 0 auto;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <h1>-NAME-</h1>
    <hr />
    <section>-ABOUTME-</section>
    <section>-WORK-</section>
  </body>
</html>
